@media (max-width: 1200px) {
  .navbar .container{
    height: 100% !important;
  }

  .navbar .navbar-brand img{
    height: 100px !important;
    width: 120px;
  }
    .navbar-collapse {
    width: 100%;
    position: absolute;
    padding: 1rem 2rem;
    background-color: #f6f6f6;
    top: 100px;
    left: 0;
    z-index: 100;
  }
}
@media (max-width: 768px) {
  .page-head{
    font-size: 2rem !important;
  }
  .page-head span{
    font-size: 2rem !important;
  }
  .container-box{
    padding: 0 !important;
    width: 90%;
    margin: auto;
  }
}